h3 {
    text-align: center;
}

.detail-link {
    cursor: pointer;
    width: fit-content;
}


a:hover {
    text-decoration:underline ;
}


li {
    list-style: none;
}

ul {
    text-align: center;
    padding: 0px 20px 0px 20px !important;
}